<!DOCTYPE html>

<html ng-app="submissionScreen">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../../css/Bootstrap/bootstrap.min.css" rel="stylesheet">

  <script src="../../js/Angular/angular.min.js"></script>
  <script src="../../js/JQuery/jquery-3.3.1.slim.js"> </script>
  <script src="../../js/Bootstrap/bootstrap.min.js"></script>

  <script src="./createFeedback4.js"></script>

    <script type="text/javascript" src="../../cordova.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>

    <title>Create Feedback</title>
</head>


<body ng-controller="submissionController" ng-init="getCategory()">

  <div class="pos-f-t">

  <nav class="navbar navbar-dark bg-dark">
      <span class="text-muted">Record Submission</span>


    <button type="button" class="btn btn-info" onclick="window.location.href='../statisticRecordMaintenance/createFeedback2.html';">Back to Personal Info</button>

  </nav>

  </div>

  <div>
    <p align="center" style="background-color:powderblue;" ng-click="goOnline()"><b><span id="checkOnline"></b></span></p>
  </div>

  <form name="submissionForm" class="container" align="center" novalidate ng-init="getUser()">

    <div class="form-group">
      <label for="categoryInput" class="text-dark"><b>Category:</b></label>

      <select id='categorySelection' ng-disabled="isDisabled" required ng-options="item.CategoryName for item in categoryList | filter:{CategoryName: ''}" class="custom-select" ng-model="categorySelection" style="text-align-last: center; color:blue">
                <option value="" disabled>Category Selection</option>
      </select>

    </div>

    <div class="form-group">
      <label for="partnerInput" class="text-dark"><b>Partner With:</b></label>

      <select id='partnerSelection' ng-disabled="isDisabled" ng-options="item.UserName for item in partnerList | filter:{UserName: ''}" class="custom-select" ng-model="partnerSelection" style="text-align-last: center; color:blue">
                <option value="">Holy Spirit</option>
      </select>

    </div>

    <div class="form-group">
      <label for="remarkInput" class="text-dark"><b>Remarks</b></label>
      <textarea ng-disabled="isDisabled" ng-model="remarkInput" type="text" class="form-control" id="remarkInput" name="remarkInput" style="text-align: center" rows="4" maxlength="500" ></textarea>

    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block"  ng-confirm-click="Confirm Submit Record?" ng-click="submitRecord()" ng-disabled="submissionForm.$invalid || isDisabled">Submit Record</button>


  </form>




</body>





</html>
