#memberTable {
    width: 100%;
    overflow: auto;
    height: 200px;
    display: block;
    border: #dee2e6 solid 2px;
}

#memberTable tr {
    border: #dee2e6 solid 2px;
    width: 100%;
}

#memberTable td {
    width: 100%;
}