<!DOCTYPE html>

<html ng-app="profileScreen">

<head>
  <link href="../../css/Bootstrap/bootstrap.min.css" rel="stylesheet">

  <script src="../../js/Angular/angular.min.js"></script>
  <script src="../../js/JQuery/jquery-3.3.1.slim.js"> </script>
  <script src="../../js/Bootstrap/bootstrap.min.js"></script>

    <script src="./editProfile.js"></script>

    <script type="text/javascript" src="../../cordova.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>

    <title>Edit Profile</title>
</head>


<body ng-controller="editProfileController" >

  <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <h5 class="text-white h4" align="center">Welcome, <span id="userNameSpan"></span></h5>
      <h5 class="text-white h4" align="center"><span id="userEmailSpan"></span></h5>

      <br>
      <button type="button" class="btn btn-warning btn-lg btn-block" onclick="logOut()">Log Out</button>
      <button type="button" class="btn btn-danger btn-lg btn-block" onclick="exitApp()">Exit (X)</button>
    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <button ng-disabled="isDisabled" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
      <span class="text-muted">Statistic Management System</span>

    </button>
  </nav>

  </div>



  <div class="pos-f-t">

  <nav class="navbar navbar-dark bg-dark">
      <span class="text-muted">Edit Profile</span>


    <button ng-disabled="isDisabled" type="button" class="btn btn-info" onclick="window.location.href='../menuScreen/menu.html';">Back</button>

  </nav>

  </div>

  <br>



  <form class="container" name="editProfileInfo" align="center" novalidate>


    <div class="form-group">
      <label for="emailInput" class="text-dark"><b>Email:</b></label>
      <input ng-disabled="isDisabled" ng-model="emailInput" type="text" required class="form-control" id="emailInput" name="emailInput" style="text-align: center" ng-pattern="/\S+@\S+\.\S+/">

      <div ng-show="!editProfileInfo.emailInput.$pristine" >
      <span ng-show="editProfileInfo.emailInput.$error.required" style="color:red">Please enter your email.</span>
      <span ng-show="editProfileInfo.emailInput.$error.email" style="color:red">This is not a valid email.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="mobileInput" class="text-dark"><b>Mobile Number:</b></label>
      <input ng-disabled="isDisabled" ng-model="mobileInput" ng-pattern="/^((\+60(\s|-)?)|0)(((?!0)(?!2)(?!80)(?!81)\d{1,2})[1]?)(\s|-)?\d{2,4}(\s|-)?\d{4}$/" required type="text" id="mobileInput" name="mobileInput" class="form-control" style="text-align: center">

      <div ng-show="!editProfileInfo.mobileInput.$pristine" >
      <span ng-show="editProfileInfo.mobileInput.$error.required" style="color:red">Please enter your Mobile Number.</span>
      <span ng-show="editProfileInfo.mobileInput.$error.pattern" style="color:red">Invalid Mobile No.</span>
      </div>

    </div>


    <div class="form-group" name="editProfileInfo">
      <label for="socialInput" class="text-dark"><b>Social Media:</b></label>
      <input ng-disabled="isDisabled" ng-model="name" type="text" class="form-control" id="socialInput" name="socialInput" required style="text-align: center">

    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="editInfoSubmit()" ng-disabled="editProfileInfo.$invalid || isDisabled">Edit Info</button>

    <br>
  </form>


    <form class="container" name="editProfilePassword" align="center" novalidate>

    <div class="form-group">
      <label for="oldPasswordInput" class="text-dark"><b>Old Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="oldPasswordInput" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" required class="form-control" id="oldPasswordInput" name="oldPasswordInput" style="text-align: center">

      <div ng-show="!editProfilePassword.oldPasswordInput.$pristine" >
      <span ng-show="editProfilePassword.oldPasswordInput.$error.required" style="color:red">Please enter your old password.</span>
      <span ng-show="editProfilePassword.oldPasswordInput.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      </div>

    </div>


    <div class="form-group">
      <label for="newPasswordInput" class="text-dark"><b>New Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="newPasswordInput" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" required class="form-control" id="newPasswordInput" name="newPasswordInput" style="text-align: center">

      <div ng-show="!editProfilePassword.newPasswordInput.$pristine" >
      <span ng-show="editProfilePassword.newPasswordInput.$error.required" style="color:red">Please enter your new password.</span>
      <span ng-show="editProfilePassword.newPasswordInput.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      </div>

    </div>

    <div class="form-group">
      <label for="retypePasswordInput" class="text-dark"><b>Retype New Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="retypePasswordInput" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" password-confirm match-target="newPasswordInput" required class="form-control" id="retypePasswordInput" name="retypePasswordInput" style="text-align: center">

      <div ng-show="!editProfilePassword.retypePasswordInput.$pristine" >
      <span ng-show="editProfilePassword.retypePasswordInput.$error.required" style="color:red">Please retype your new password.</span>
      <span ng-show="editProfilePassword.retypePasswordInput.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      <span ng-show="editProfilePassword.retypePasswordInput.$error.match" style="color:red"><br>Please ensure the New Password and Retype New Password are Match</span>

      </div>



    </div>

    <p>Notice: Please make sure all field are Filled In. If Button is unclickable, certain field is Empty.</p>

    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="changePasswordSubmit()" ng-disabled="editProfilePassword.$invalid || isDisabled">Change Password</button>


  </form>


</body>




</html>
