<!DOCTYPE html>

<html ng-app='detailMemberScreen'>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../../css/Bootstrap/bootstrap.min.css" rel="stylesheet">

  <script src="../../js/Angular/angular.min.js"></script>
  <script src="../../js/JQuery/jquery-3.3.1.slim.js"> </script>
  <script src="../../js/Bootstrap/bootstrap.min.js"></script>

    <script src="./detailMember.js"></script>

    <script type="text/javascript" src="../../cordova.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>

    <title>Detail Member</title>
</head>


<body ng-controller='detailMemberController' ng-init="checkOnline()">

  <div class="pos-f-t">

  <nav class="navbar navbar-dark bg-dark">
      <span class="text-muted">Edit Member</span>


    <button ng-disabled="isDisabled" type="button" class="btn btn-info" ng-click='backToView()'>Back to View</button>

  </nav>

  </div>

  <div>
    <p align="center" style="background-color:powderblue;" ng-click="goOnline()"><b><span id="checkOnline"></b></span></p>
  </div>


  <form name="editMemberForm" class="container" align="center" novalidate>

    <div class="form-group">
      <label for="nameInput" class="text-dark"><b>Name:</b></label>
      <input ng-disabled="isDisabled" ng-model="nameInput" type="text" class="form-control" id="nameInput" name="nameInput" ng-pattern="/^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$/" placeholder="eg. Mark Zuckerberg" maxlength="35" required style="text-align: center">

      <div ng-show="!editMemberForm.nameInput.$pristine" >
      <span ng-show="editMemberForm.nameInput.$error.required" style="color:red">Please enter your full name.</span>
      <span ng-show="editMemberForm.nameInput.$error.pattern" style="color:red">This is not a valid name.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="emailInput" class="text-dark"><b>Email:</b></label>
      <input ng-disabled="isDisabled" ng-model="emailInput" type="text" required class="form-control" id="emailInput" name="emailInput" ng-pattern="/\S+@\S+\.\S+/" placeholder="eg. email@hotmail.com" maxlength="35" style="text-align: center">

      <div ng-show="!editMemberForm.emailInput.$pristine" >
      <span ng-show="editMemberForm.emailInput.$error.required" style="color:red">Please enter your email.</span>
      <span ng-show="editMemberForm.emailInput.$error.pattern" style="color:red">This is not a valid email.</span>
      </div>

    </div>


    <div class="form-group">
      <label for="mobileInput" class="text-dark"><b>Mobile Number:</b></label>
      <input ng-disabled="isDisabled" ng-model="mobileInput" ng-pattern="/^(0)(((?!0)(?!2)(?!80)(?!81)\d{1,2})[1]?)?\d{4}?\d{5}$/" required type="text" id="mobileInput" name="mobileInput" class="form-control" placeholder="eg. 0106885555" maxlength="12" style="text-align: center">

      <div ng-show="!editMemberForm.mobileInput.$pristine" >
      <span ng-show="editMemberForm.mobileInput.$error.required" style="color:red">Please enter your mobile number.</span>
      <span ng-show="editMemberForm.mobileInput.$error.pattern" style="color:red">This is not a valid mobile number.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="socialInput" class="text-dark"><b>Social Media:</b></label>
      <input ng-disabled="isDisabled" ng-model="socialInput" required type="text" id="socialInput" name="socialInput" class="form-control" placeholder="eg. fb.com/mySocial" maxlength="35" style="text-align: center">

      <div ng-show="!editMemberForm.socialInput.$pristine" >
      <span ng-show="editMemberForm.socialInput.$error.required" style="color:red">Please enter your social media.</span>
      </div>

    </div>

    <div class="form-group">
      <label for="roleInput" class="text-dark"><b>User Type:</b></label>

      <select id='roleInput' ng-disabled="isDisabled" class="custom-select" ng-model="roleInput" style="text-align-last: center; color:blue">
                <option value="Member">Member</option>
                <option value="Leader">Leader</option>
      </select>

    </div>

    <div class="form-group">
      <label for="passwordInput" class="text-dark"><b>Password:</b></label>
      <input ng-disabled="isDisabled" ng-model="passwordInput" type="password" class="form-control" id="passwordInput" name="passwordInput" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" placeholder="********" maxlength="35" required style="text-align: center">

      <div ng-show="!editMemberForm.passwordInput.$pristine" >
      <span ng-show="editMemberForm.passwordInput.$error.required" style="color:red">Please enter the password.</span>
      <span ng-show="editMemberForm.passwordInput.$error.pattern" style="color:red">Password must be minimum eight characters, at least one letter and one number, do not contain any symbol value</span>
      </div>

    </div>

    <button id="activeBtn" type="submit" class="btn btn-success btn-lg btn-block"  ng-confirm-click="Confirm Activate Member?" ng-click="activeMemberSubmit()">Activate Member</button>
    <button id="editBtn" type="submit" class="btn btn-primary btn-lg btn-block"  ng-confirm-click="Confirm Edit  Member?" ng-click="editMemberSubmit()" ng-disabled="editMemberForm.$invalid || isDisabled">Edit Member</button>
    <button id="deactiveBtn" type="submit" class="btn btn-danger btn-lg btn-block"  ng-confirm-click="Confirm Deactive Member?" ng-click="deactiveMemberSubmit()">Deactive Member</button>


  </form>


</body>





</html>
